@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');

body {
	background-color: #303030;
}

.card {
	width: 200px;
	height: 200px;
	background-color: #474747;
	position: absolute;
	border-radius: 10px;
	transition: 1s;
	z-index: 0;
	cursor: pointer;
}

.card:hover {
	background-color: #fff !important;
	transform: scale(1.4);
	z-index: 1;
}

.card:hover p {
	opacity: 1;
}

p {
	font-family: 'Jura', sans-serif;
	text-align: center;
	margin-top: 90px;
	opacity: 0;
	transition: 1s;
}
